@font-face {
    font-family: zajno;
    src: url(../font/sh.woff2);
}
::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #EBEBEB;
    font-family: zajno;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

img {
    opacity: 0;
}
a {
    text-decoration: none;
    color: #1A1A1A;
}

.main {
    width: 100vw;
}
.landing {
  position: relative;
}
nav {
    background-color: transparent;
    padding: 1.465vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
nav a {
    font-size: 1vw;
    font-weight: 100;
    line-height: 1.27vw;
}
nav .navmenu {
    width: 18%;
    display: flex;
    flex-direction: column;
    padding-left: 11%;
}
nav .navsocial{
    display: flex;
    flex-direction: column;
}
.branding {
    width: 100%;
    background-color: transparent;
}
.branding img {
    width: 100%;
}

.video {
    width: 100vw;
    /* height: 100vh; */
    height: 55vw;
    padding: 1.465vw;
}
.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work {
    margin-top: 3vw;
    padding: 0 1.465vw;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.work  h3 {
    font-size: 1.953vw;
    line-height: 2.246vw;
    font-weight: 100;
}
.work .workpart1 {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.781vw;
}
.work .workpart2 {
    width: 83%;
}
.work .workpart2 .workpart2top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8vw;
}
.work .workpart2 .workpart2top h3:nth-child(1) {
    width: 39.063vw;
}
.work .workpart2 .workpart2bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem {
    width: 100%;
    padding: 1.758vw 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1.25px solid #1A1A1A;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(1) {
    width: 20%;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(2) {
    width: 40%;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(3) {
    width: 20%;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem span {
    color: #FF3828;
}
.work .workpart2 .workpart2bottom .workpart2bottomelem .workpart2bottomelemimg {
    width: 19.531vw;
    height: 19.531vw;
    /* background-color: blueviolet; */
}
.work .workpart2 .workpart2bottom .workpart2bottomelem .workpart2bottomelemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.studio {
    padding: 0 1.465vw;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.studio h3 {
    font-size: 1.953vw;
    line-height: 2.246vw;
    font-weight: 100;
}
.studio .studiotop {
    padding: 5vw 0;
    border-top: 1.25px solid #1A1A1A;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.studio .studiotop .studiotopleft {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.781vw;
}
.studio .studiotop .studiotopright {
    width: 83%;
}
.studio .studiotop .studiotopright h3 {
    width: 39.063vw;
}
.studio .studiobottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom:  5vw;
    border-bottom: 1.25px solid #1A1A1A;
}
.studio .studiobottom .studiobottomleft {
    width: 50%;
}
.studio .studiobottom .studiobottomleft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.studio .studiobottom .studiobottomright {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.977vw;
}
.studio .studiobottom .studiobottomright .studiobottomrightpart1 {
    border-left: 1.25px solid #1A1A1A;
    border-right: 1.25px solid #1A1A1A;
    padding-left: 0.977vw;
    padding-right: 3vw;
}
.studio .studiobottom .studiobottomright .studiobottomrightpart1 h3:nth-child(1) , .studio .studiobottom .studiobottomright h3:nth-child(1) {
    margin-bottom: 1.25vw;
}
.studio .studiobottom .studiobottomright .studiobottomrightpart2 {
    padding-left: 0.977vw;
}

.playground {
    padding: 0 1.465vw;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}
.playground h3 {
    font-size: 1.953vw;
    line-height: 2.246vw;
    font-weight: 100;
}
.playground .playgroundtop {
    padding: 5vw 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.playground .playgroundtop .playgroundtopleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.781vw;
}
.playground .playgroundtop .playgroundtopright {
    border-left: 1.25px solid #1A1A1A;
    padding-left: 0.977vw;
}
.playground .playgroundtop .playgroundtopright h3 {
    width: 39.063vw;
}
.playground .playgroundbottom {
    width: 100%;
    height: 60vw;
    background-color: transparent;
    position: relative;
}
.playground .playgroundbottom .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.playground .playgroundbottom .swiper .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 1.758vw;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.playground .playgroundbottom .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.playground .playgroundbottom .swiper .swiper-slide h6 {
    padding-top: 0.488vw;
}
.playground .playgroundbottom .swiper .swiper-slide:nth-child(even) {
    height: 29.297vw;
    top: 8vw;
}
.playground .playgroundbottom .swiper .swiper-slide:nth-child(odd) {
    height: 24.414vw;
    top: 0;
}
.playground .playgroundbottom .tm715 {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding: 1.465vw 0 0 0;  
    border-bottom: 1.25px solid #1A1A1A;
}

.footer {
    width: 100%;
    padding: 5vw 1.465vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer h3 {
    font-size: 1.953vw;
    line-height: 2.246vw;
    font-weight: 100;
}
.footerleft {
    width: 50%;
}
.footerleft img {
    width: 8vw;
}
.footerright {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.footerright .footerrightpart1 {
    border-left: 1.25px solid #1A1A1A;
    border-right: 1.25px solid #1A1A1A;
    padding-left: 0.977vw;
    padding-right: 6vw;
}
.footerright .footerrightpart1 .last {
    margin-top: 1.758vw;
    padding-bottom: 1.953vw;
}
.footerright .footerrightpart2 {
    padding-left: 0.977vw;
}

.canvas {
    /* display: none; */
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(0.4,0.4,0.4,0.3); */
}

@media screen and (max-width: 600px) {
    nav {
        padding: 3vw;
        justify-content: flex-end;
    }
    nav a {
        font-size: 3vw;
    }
    nav a:nth-child(1) , nav a:nth-child(2) {
        display: none;
    }
    nav .navmenu {
        display: none;
    }
    nav .navsocial{
        display: none;
    }
    .branding {
        padding: 0 2vw;
    } 

    .video {
        height: 90vw;
        padding: 3vw;
    }
    
    .work {
        margin-top: 8vw;
        padding: 0 3vw;
    }
    .work  h3 {
        font-size: 4vw;
        line-height: 4.125vw;
    }
    .work .workpart1 {
        width: 25%;
        gap: 0.781vw;
    }
    .work .workpart2 {
        width: 72%;
    }
    .work .workpart2 .workpart2top {
        margin-bottom: 12vw;
    }
    .work .workpart2 .workpart2top h3:nth-child(1) {
        width: 100%;
    }
    .work .workpart2 .workpart2top h3:nth-child(2) {
        display: none;
    }
    .work .workpart2 .workpart2bottom .workpart2bottomelem {
        padding: 3vw 0;
    }
    .work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(1), .work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(2) {
        display: none;
    }
    .work .workpart2 .workpart2bottom .workpart2bottomelem h3:nth-child(3) {
        width: 50%;
    } 
    .work .workpart2 .workpart2bottom .workpart2bottomelem .workpart2bottomelemimg {
        width: 33vw;
        height: 33vw;
    }

    .studio {
        padding: 0 3vw;
        width: 100%;
    }
    .studio h3 {
        font-size: 4vw;
        line-height: 4.125vw;
    }
    .studio .studiotop {
        padding: 10vw 0;
    }
    .studio .studiotop .studiotopleft {
        width: 25%;
    }
    .studio .studiotop .studiotopright {
        width: 72%;
    }
    .studio .studiotop .studiotopright h3 {
        width: 100%;
    }
    .studio .studiobottom {
        flex-direction: column;
        padding-bottom:  10vw;
    }
    .studio .studiobottom .studiobottomleft {
        width: 100%;
    }
    .studio .studiobottom .studiobottomright {
        width: 100%;
        margin-top: 5vw;
        justify-content: flex-start;
        padding-left: 0vw;
    }
    .studio .studiobottom .studiobottomright .studiobottomrightpart1 {
        padding-left: 3vw;
        padding-right: 10vw;
    }
    .studio .studiobottom .studiobottomright .studiobottomrightpart1 h3:nth-child(1) , .studio .studiobottom .studiobottomright h3:nth-child(1) {
        margin-bottom: 5vw;
    }
    .studio .studiobottom .studiobottomright .studiobottomrightpart2 {
        padding-left: 3vw;
    }

    .playground {
        padding: 0 3vw;
    }
    .playground h3 {
        font-size: 4vw;
        line-height: 4.125vw;
    }
    .playground .playgroundtop {
        padding: 10vw 0;
    }
    .playground .playgroundtop .playgroundtopright {
        padding-left: 3vw;
    }
    .playground .playgroundtop .playgroundtopright h3 {
        width: 45vw;
    }
    .playground .playgroundbottom {
        height: 80vw;
    }
    .playground .playgroundbottom .swiper .swiper-slide h6 {
        padding-top: 1vw;
        font-size: 3vw;
    }
    .playground .playgroundbottom .swiper .swiper-slide:nth-child(even) {
        height: 40vw;
        top: 0;
    }
    .playground .playgroundbottom .swiper .swiper-slide:nth-child(odd) {
        height: 40vw;
        top: 0;
    }
    
    .footer {
        padding: 15vw 3vw;
    }
    .footer h3 {
        font-size: 4vw;
        line-height: 4.125vw;
    }
    .footerleft {
        width: 50%;
    }
    .footerleft img {
        width: 25vw;
    }
    .footerright .footerrightpart1 {
        display: none;
    }
    .footerright .footerrightpart2 {
        border-left: 1.25px solid #1A1A1A;
        padding-left: 3vw;
        padding-bottom: 5vw;
    }
    .footerright .footerrightpart2 h3 {
        margin-bottom: 1.25vw;
    }
}
